@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-block: 2rem;
  color: rgb(21, 86, 37);
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-block: 2rem;
  color: rgb(21, 86, 37);
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-block: 2rem;
  color: rgb(21, 86, 37);
}

.btn-primary {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  transition: 1s ease;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #ccc;
  background-color: rgb(21, 86, 37);
}
.btn-primary:active {
  transform: translateY(4px);
}
.btn-primary:hover {
  background-color: #1f7f37;
}

.btn-secondary {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  transition: 1s ease;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #ccc;
  background-color: hsl(0, 2%, 52%);
}
.btn-secondary:active {
  transform: translateY(4px);
}
.btn-secondary:hover {
  background-color: #605c5c;
}

.btn-link {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  transition: 1s ease;
  color: rgb(21, 86, 37);
  background-color: transparent;
}
.btn-link:active {
  transform: translateY(4px);
}
.btn-link:hover {
  color: #1f7f37;
}

button:disabled,
button[disabled] {
  border: 1px solid #a09c9c;
  background-color: #fdfdfd;
  color: #a09c9c;
  cursor: not-allowed;
  pointer-events: all !important;
}
button:disabled:hover,
button[disabled]:hover {
  background-color: #fdfdfd;
}
button:disabled:active,
button[disabled]:active {
  transform: translateY(0px);
}

a {
  text-decoration: none;
  font-size: inherit;
}
a :hover {
  cursor: pointer;
}

.link-primary {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: 2s ease;
  color: rgb(21, 86, 37);
}
.link-primary:hover {
  color: #1f7f37;
  border-bottom: 2px solid #1f7f37;
}

.link-secondary {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: 2s ease;
  color: hsl(0, 2%, 52%);
}
.link-secondary:hover {
  color: #605c5c;
  border-bottom: 2px solid #605c5c;
}

.form-component:has(input[type=text]),
.form-component:has(input[type=password]) {
  position: relative;
}
.form-component:has(input[type=text]) label,
.form-component:has(input[type=password]) label {
  position: absolute;
  left: 1.3rem;
  top: 2.1rem;
  pointer-events: none;
  transition: all 0.5s ease;
  color: #605c5c;
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  padding-inline: 4px;
  padding-top: 1px;
  background-color: #fdfdfd;
}
.form-component:has(input[type=text]) input,
.form-component:has(input[type=password]) input {
  font-family: inherit;
  font-size: 1rem;
  color: rgb(21, 86, 37);
  background-color: inherit;
  padding: 1rem 1.5rem;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #a09c9c;
  border-radius: 5px;
  color: rgb(21, 86, 37);
}
.form-component:has(input[type=text]) input:focus,
.form-component:has(input[type=password]) input:focus {
  border-color: rgb(21, 86, 37);
}
.form-component:has(input[type=text]) input:disabled,
.form-component:has(input[type=password]) input:disabled {
  color: #605c5c;
}
.form-component:has(input[type=text]) input:focus ~ label,
.form-component:has(input[type=text]) input:not(:placeholder-shown) ~ label,
.form-component:has(input[type=password]) input:focus ~ label,
.form-component:has(input[type=password]) input:not(:placeholder-shown) ~ label {
  transform: translateY(-1.6rem);
  font-size: 0.9rem;
  background-color: #fdfdfd;
  padding-bottom: 1px;
}
.form-component:has(input[type=text]) input:not(:placeholder-shown) ~ label,
.form-component:has(input[type=password]) input:not(:placeholder-shown) ~ label {
  color: #a09c9c;
  border-left: solid 2px #a09c9c;
  border-right: solid 2px #a09c9c;
  background-color: #fdfdfd;
}
.form-component:has(input[type=text]) input:focus ~ label,
.form-component:has(input[type=password]) input:focus ~ label {
  color: rgb(21, 86, 37);
  background-color: #fdfdfd;
  border-left: solid 2px rgb(21, 86, 37);
  border-right: solid 2px rgb(21, 86, 37);
}
.form-component:has(input[type=text]).error input,
.form-component:has(input[type=password]).error input {
  color: red;
  border-color: red;
  margin-bottom: 0.2rem;
}
.form-component:has(input[type=text]).error input:not(:placeholder-shown) ~ label,
.form-component:has(input[type=text]).error input:focus ~ label,
.form-component:has(input[type=password]).error input:not(:placeholder-shown) ~ label,
.form-component:has(input[type=password]).error input:focus ~ label {
  color: red;
  border-left-color: red;
  border-right-color: red;
}
.form-component:has(input[type=text]) .error-message,
.form-component:has(input[type=password]) .error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

html,
body {
  font-family: "Lato", sans-serif;
}

main {
  margin-block: 4rem;
  padding-inline: 5rem;
}/*# sourceMappingURL=style.css.map */