nav.navbar {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    @include xs {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      a {
        display: block;
      }
    }
  }

  .link-primary {
    transform: translateY(8px);
  }

  .logo {
    font-size: 1.8rem;
    color: $primary-color;
    text-transform: uppercase;
  }
}

.hamburger {
  z-index: 100;
  cursor: pointer;
  display: none;

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    background-color: $primary-color;
  }

  &.active {
    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    .bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  @include xs {
    display: block;
  }
}

.mobile-menu {
  display: none;
  transform: translateX(645px);
  transition: all 1s ease;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  opacity: 92%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;

  &.active {
    transform: translateX(0);
  }

  ul {
    margin-top: 200px;
  }

  li {
    padding-bottom: 35px;
    font-size: 1.4rem;
  }

  @include xs {
    display: flex;
  }
}
