nav.navbar {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    a {
      display: block;
    }
  }

  .link-primary {
    transform: translateY(6px);

    &.active,
    &:hover {
      color: $primary-color-dark;
      border-bottom: 2px solid $primary-color-dark;
    }
  }

  .logo {
    font-size: 2rem;
    color: $primary-color;
  }
}
