#login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-image: url("/images/plant-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include sm {
      background-image: none;
    }
  }
}
