#login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  .card-content {
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .card-buttons {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $secondary-color-light;
    width: 90%;
  }

  @include sm {
    .card-form {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    .card-image {
      display: none;
    }
  }

  @include xs {
    .card-buttons {
      flex-direction: column;
    }
  }
}
