@mixin xs {
  @media only screen and (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin card-image($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include sm {
    background-image: none;
  }
}

@mixin center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
