/* -----------------------------------------------------*/
/* input field, password field and text area            */
/*                                                      */
/* -----------------------------------------------------*/

.form-component:has(input[type="text"]),
.form-component:has(input[type="password"]),
.form-component:has(textarea) {
  position: relative;

  label {
    position: absolute;
    left: 1.3rem;
    top: 2.1rem;
    pointer-events: none;
    transition: all 0.5s ease;
    color: $secondary-color-dark;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    padding-inline: 4px;
    padding-top: 1px;
    background-color: $white-color;
  }

  textarea {
    height: 12rem;
    resize: none;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: 1rem;
    color: $primary-color;
    background-color: inherit;

    padding: 1rem 1.5rem;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 2px solid $secondary-color-light;
    border-radius: 5px;
    color: $primary-color;

    &:focus {
      border-color: $primary-color;
    }
    &:disabled {
      color: $secondary-color-light;
    }
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-1.6rem);
    font-size: 0.9rem;
    background-color: $white-color;
    padding-bottom: 1px;
  }

  input:not(:placeholder-shown) ~ label,
  textarea:not(:placeholder-shown) ~ label {
    color: $secondary-color-light;
    border-left: solid 2px $secondary-color-light;
    border-right: solid 2px $secondary-color-light;
    background-color: $white-color;
  }

  input:focus ~ label,
  textarea:focus ~ label {
    color: $primary-color;
    background-color: $white-color;
    border-left: solid 2px $primary-color;
    border-right: solid 2px $primary-color;
  }

  &.error {
    input,
    textarea {
      color: $error-color;
      border-color: $error-color;
      margin-bottom: 0.2rem;
    }

    input:not(:placeholder-shown) ~ label,
    input:focus ~ label,
    textarea:not(:placeholder-shown) ~ label,
    textarea:focus ~ label {
      color: $error-color;
      border-left-color: $error-color;
      border-right-color: $error-color;
    }
  }

  .error-message {
    color: $error-color;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

/* -----------------------------------------------------*/
/* Radio Button                                         */
/*                                                      */
/* -----------------------------------------------------*/

@mixin radiobutton-background($color) {
  background-image: radial-gradient(
    circle,
    $color 0%,
    $color 50%,
    transparent 60%,
    transparent 100%
  );
}

.form-component:has(input[type="radio"]) {
  margin-bottom: 0.5rem;

  input[type="radio"] {
    appearance: none;
    background-color: $white-color;
    margin: 0;
    color: $primary-color;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    transform: translateY(4px);
    transition: outline 0.1s;
  }

  input[type="radio"]:checked {
    background-color: $primary-color;
    background-clip: content-box;
    padding: 0.14rem;
    @include radiobutton-background($primary-color);
  }

  input[type="radio"]:disabled {
    border-color: $secondary-color-light;
  }

  input[type="radio"]:disabled:checked {
    @include radiobutton-background($secondary-color-light);
  }
}

.form-component:has(input[type="radio"]).error {
  input[type="radio"] {
    border-color: $error-color;
    @include radiobutton-background($error-color);
  }
  label {
    color: $error-color;
    font-size: 1rem;
    font-family: inherit;
  }
}

/* -----------------------------------------------------*/
/* Checkbox                                             */
/*                                                      */
/* -----------------------------------------------------*/

.form-component:has(input[type="checkbox"]) {
  margin-bottom: 0.5rem;

  input {
    appearance: none;
    border: 2px solid $primary-color;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 2px;
    transform: translateY(6px);
  }

  input:disabled {
    border-color: $secondary-color-light;
  }

  input::after {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-color: transparent;
    left: 0.09rem;
    top: 0.09rem;
    border-radius: 1px;
  }

  input:checked::after {
    background-color: $primary-color;
  }

  input:checked:disabled::after {
    background-color: $secondary-color-light;
  }

  label {
    position: relative;
  }
}

.form-component:has(input[type="checkbox"]).error {
  input {
    border-color: $error-color;
  }

  input:checked::after {
    background-color: $error-color;
  }

  label {
    color: $error-color;
    font-size: 1rem;
    font-family: inherit;
  }
}

/* -----------------------------------------------------*/
/* Drop down Select                                     */
/*                                                      */
/* -----------------------------------------------------*/

.form-component:has(select) {
  select {
    font-family: inherit;
    margin-bottom: 1rem;
    appearance: none;
    outline: none;
    width: 20rem;
    font-size: 1rem;
    border: 2px solid $secondary-color-light;
    background-color: $white-color;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: $secondary-color-dark;
    position: relative;

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }

  select:focus {
    border-color: $primary-color;
  }
  select:has(option[value=""]:not(:checked)) {
    color: $primary-color;
  }
}

.form-component:has(select).error {
  select {
    border: 2px solid $error-color;
    color: $error-color;
  }
}
