$headers: (
  "h1": 2.5rem,
  "h2": 2rem,
  "h3": 1.5rem,
);

$margins: (
  "h1": 2.5rem,
  "h2": 2rem,
  "h3": 1rem,
);

@each $name, $size in $headers {
  #{$name} {
    font-weight: bold;
    font-size: $size;
    margin-block: map-get($margins, $name);
    color: $primary-color;
  }
}
